body {
    background-color: #f3fcfc !important;
}

a {
    color: #0a4553 !important;
    font-weight: 600;
}

a:hover {
    color: #1557c8 !important;
}
a:focus {
    text-decoration: underline !important; 
    /* color: #3f7b5d !important; */
}
.active>a {
    /* text-decoration: underline; */
    background-color: #E6E6FA !important;
}

.logo {
    width: 15vw;
    height: 8vh;
}

.navbar-default {
    background-color: #E6E6FA !important;
}

.homeContainer {
    display: block;
}

.bcvContainer {
    display: none;
}

.gmcvContainer {
    display: none;
}

.aboutContainer {
    display: none;
}

.pdf {
    width: 100vw;
    height: 91.02vh;
    aspect-ratio: 4 / 3;
    margin-top: -20px;
}

/* .bCVContainer {
    display: grid;
    font-family: cursive;
    grid-template-areas:
        "bCVHeader bCVHeader"
        "bCVMenu bCVContent"
        "bCVFooter bCVFooter";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-color: #E6E6FA;
    padding: 5px;
}

.bCVContainer>div {
    background-color: #f3fcfc;
    padding: 10px;
    font-family: cursive;
}

.bCVContainer>div.bCVHeader {
    grid-area: bCVHeader;
    text-align: center;
    font-family: cursive;
}

.bCVContainer>div.bCVMenu {
    grid-area: bCVMenu;
    font-family: cursive;
}

.bCVContainer>div.bCVContent {
    grid-area: bCVContent;
    font-family: cursive;
}

.bCVContainer>div.bCVFooter {
    grid-area: bCVFooter;
    font-family: cursive;
} */